body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    display: block;
    background-color: white;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    transition: 0.2s;
}

.navbar-expanded {
    display: block;
    background-color: white;
    width: 100%;
    height: 210px;
    position: fixed;
    top: 0;
    transition: 0.2s;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
}

.menu {
    margin: 10px 30px 10px 0px;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 10px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -10px) rotate(45deg);
}

.navbar-links-box {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    display: none;
}

.navbar-link {
    font-size: large;
    text-decoration: none;
    color: #22092C;
    transition: 0.2s;
    margin: 7px;
}

.navbar-link:hover {
    text-decoration: underline;
    color: #872341;
    transition: 0.2s;
}


.content {
    margin-top: 60px;
    width: 100%;
}

.content-container {
    width: auto;
    height: 600px;
    padding: 40px;
}

.brand {
    font-size: xx-large;
    margin: 13px 0px 10px 20px;
}

.brand-description {
    font-size: xxx-large;
    text-align: right;
    padding: 230px 0px;
}

@media screen and (min-width: 768px) {
    .navbar-links-box {
        flex-direction: row;
        align-items: normal;
    }

    .navbar-expanded {
        height: 120px;
    }
}
