body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.navbar {
    display: block;
    background-color: white;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    transition: 0.2s;
    z-index: 1;
}

.navbar-expanded {
    display: block;
    background-color: white;
    width: 100%;
    height: 210px;
    position: fixed;
    top: 0;
    transition: 0.2s;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
}

.menu {
    margin: 10px 30px 10px 0px;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 10px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -10px) rotate(45deg);
}

.navbar-links-box {
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    display: none;
}

.navbar-link {
    font-size: large;
    text-decoration: none;
    color: #22092C;
    transition: 0.2s;
    margin: 7px;
}

.navbar-link:hover {
    text-decoration: underline;
    color: #872341;
    transition: 0.2s;
}


.content {
    margin-top: 60px;
    width: 100%;
}

.horizontal-container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 20px;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    height: fit-content;
    padding: 40px;
}

.bordered-box {
    border: 2px solid black;
    line-height: 2;
    padding: 25px;
    height: fit-content;
}

.section-name {
    font-size: xx-large;
    width: fit-content;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    margin-bottom: 30px;
}

.content-container {
    width: auto;
    height: 300px;
    padding: 40px;
}

.brand {
    font-size: xx-large;
    margin: 13px 0px 10px 20px;
}

.brand-description {
    font-size: xxx-large;
    text-align: right;
    padding: 70px 0px;
}

.timeline {
    position: relative;
    align-self: left;
    max-width: 800px;
    padding: 20px 0px 20px 20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: -1px;
}

.timeline-item {
    position: relative;
    margin-bottom: 50px;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    top: 0;
    left: 0;
    margin-left: -30px;
}

.timeline-item.left .play {
    left: -55%;
}

.timeline-item.left .play-date {
    text-align: right;
    margin-right: -20px;
}

.timeline-item.right .play-date {
    margin-left: -20px;
}

.play {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.play-date {
    font-size: medium;
}

.play-name {
    font-size: large;
    margin-top: 30px;
}

.play-description {
    font-size: small;
    margin-top: 20px;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    flex-flow: column wrap;
    height: fit-content;
    padding: 30px;
}

.footer-info {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    gap: 40px;
    margin: 5px;
}

.footer-social {
    align-self: flex-end;
    margin: 8px;
}

.footer-copyright {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    gap: 10px;
    margin: 5px;
}

@media screen and (min-width: 768px) {
    .navbar-links-box {
        flex-direction: row;
        align-items: normal;
    }

    .navbar-expanded {
        height: 105px;
    }

    .section-name {
        font-size: xxx-large;
    }

    .timeline {
        align-self: center;
    }

    .timeline::after {
        left: 50%;
    }

    .timeline-item::after {
        left: 50%;
        margin-left: -20px;
    }

    .timeline-item.right .play {
        left: 55%;
    }

    .timeline-item.left .play-date {
        margin-right: -5px;
    }

    .timeline-item.right .play-date {
        margin-left: -25px;
    }

    .footer {
        padding: 40px;
    }

    .footer-social {
        margin: 0px;
    }

    body {
        font-size: large;
    }
}

@media screen and (min-width: 1080px) {
    .play-date {
        font-size: x-large;
    }

    .play-name {
        font-size: xx-large;
    }

    .play-description {
        font-size: large;
    }
}
